# Ignore large files and temporary files
*.pt
*.mp4
*.png
*.jpg
*.jpeg

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore model and cache files
.model/
.model_cache/

# Ignore videos and images directories
videos/
images/
